body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: rgb(221, 221, 229); 
	width: 100%;
}
header{
	background: rgb(7, 4, 36);
	text-decoration: none;
    position:relative;
	width: 100%;
}
.divDelta{
	width: 100%;
}
.main{
	width: auto;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #1c0505;
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin: 5px;
	font-weight: bold;
	transition: .5s ease-in-out;
}
h2{
	color: rgb(7, 4, 36);
	font-size: 1.3em;
	justify-content: center;
	display: flex;
	margin: 10px;
	font-weight: bold;
	transition: .5s ease-in-out;
}
h3{
	color: rgb(7, 4, 36);
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin: 10px;
	font-weight: bold;
	transition: .5s ease-in-out;
}

.cciceTable {
	color: #f8f7f6;
	border: 0px solid rgb(17, 10, 6);
	border-collapse: collapse;  
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.cciceTableTr {
	border: 0px solid rgb(9, 6, 17);
}
.cciceTableTd {
	border: 0px solid rgb(9, 6, 17);
}
.cciceTableTh {
	border: 0px solid rgb(9, 6, 17);
}
.childTable {
	color: #1f2181;
	border: 0px solid rgb(8, 8, 134);
	border-collapse: collapse;  
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.childTableTr {
	border: 1px solid rgb(34, 40, 204);
}
.childTableTh {
	border: 1px solid rgb(9, 6, 17);
}
.childTableTd {
	border: 0px solid rgb(20, 173, 58);
}
.cciceButtonTable {
	color: #f8f7f6;
	border: 0px solid #f8f7f6;
	border-collapse: collapse;  
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.cciceButtonTableTr {
	border: 0px solid #f8f7f6;
}
.cciceButtonTableTh {
	border: 0px solid #f8f7f6;
}
.cciceButtonTableTd {
	border: 0px solid #f8f7f6;
}
.cciceButton{
	width: 150px;
	height: 40px;
	margin: 0px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #a90202;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 10px;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: .2s ease-in;
	cursor: pointer;
}
.orderButton{
	width: 150px;
	height: 40px;
	margin: 0px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #a90202;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 10px;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: .2s ease-in;
	cursor: pointer;
}
input{
	width: 273px;
	height: 18px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid rgb(10, 10, 38);
	outline: black;
	border-radius: 3px;
}
select{
	width: 200px;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid rgb(10, 10, 38);
	outline: black;
	border-radius: 3px;
}
button{
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: rgb(7, 4, 36);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: .2s ease-in;
	cursor: pointer;
	text-decoration: none;
}
button:hover{
	background: rgb(9, 6, 17);
}
.loginButton{
	width: 150px;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #a90202;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: .2s ease-in;
	cursor: pointer;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #d7d8e3;
	transform: scale(.6);
	justify-content: flex-start;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.aside {
	background-color: #fff;
	padding: 15px;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #fff;
	text-align: center;
	align-content: center;
	align-self: center;
	align-items: center;
  }

.flexContainer {
	display: flex;
}

.itineraryImage {
	width: 1500px;
}

  .floatingBlock {
	  background-color: #fff;
	  padding: 10px;
	  color: rgb(13, 6, 75);
	  text-align: center;
	  align-content: center;
	  align-self: center;
	  align-items: center;
	  font-size: 14px;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  width: 100%;
  }

.fullBlock {
	background-color: #fff;
	padding: 15px;
	color: #fff;
	text-align: center;
	align-content: center;
	align-self: center;
	align-items: center;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.theBodyWidth {
	width: 100%;
	text-align: center;
	align-content: center;
	align-self: center;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  }

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  }